html {
  overflow: scroll !important;
}

.section-title {
  margin-top: 5.5rem;
}

.site-container {
display: flex;
flex-direction: column;
margin: 5rem;
margin-top: 8rem;
}
.site-text {
  width: 500px;
}

#about {
  text-align: left;
}
.about-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
}

#cybersafety {
  text-align: right;
}
.cybersafety-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
}

#csi {
  text-align: left;
}
.csi-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
}

#get-started{
  text-align: center;
}
.eoi-section{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
}


#contact-us {
  text-align: left;
  background: #EEEEEE;
  padding-top: 4rem;
  padding-left: 5rem;
}
.contact-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.contact-details{
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}
.csi-link {
  background-color: #53C5CD;
  border-radius: 30px;
  text-align: center;
  width: 18vw;
  padding: 1rem;
  color: white;
  text-decoration: none;
}
.socials {
  margin-top: 1.5rem;
}
.social {
  margin-right: 0.5rem;
}
