.navbar {
  display: flex;
  justify-content: space-between;
  background-color: white;
  width: 100%;
  top: 0;
  position: fixed;
  padding-top: 1.5rem;
}
.nav {
  margin: 0.5rem;
  text-decoration: none;
  color: #181818;
}

.nav-logo{
margin-left: 3rem;
}

.nav-links {
margin-right: 5rem;
}

.started-nav {
  background-color: #53C5CD;
  border-radius: 30px;
  text-align: center;
  width: 15vw;
  padding: 0.5rem;
  margin-left: 1rem;
  color: white;
  text-decoration: none;
}
