.school-card {
    width: 90vw;
    margin: 1rem auto 0 auto;
    background-color: #f2f2f2;
    border-radius: 40px;
    padding: 2rem;
}

.school-card-with-report {
    width: 90vw;
    margin: 1rem auto 0 auto;
    background-color: #EEDC82;
    border-radius: 40px;
    padding: 2rem;
}

.school-card-complete {
    width: 90vw;
    margin: 1rem auto 0 auto;
    background-color: #C1FFC1;
    border-radius: 40px;
    padding: 2rem;
}

.scorecard-box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.score-type {
    display: block;
}

.bar-line {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bar-toggle-btn {
    color: #2a94f4;
    margin-left: 0.5rem;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.bar-school-title {
    margin: 0;
}

.bar-toggle-btn:hover {
    text-decoration:underline;
}

.orange {
    color: orange;
}

@media only screen and (max-width: 900px) {
.bar-school-title {
    font-size: 1rem;
    max-width: 70vw;
}
}