.dashboard-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100vw;
  height: auto;
}

.columns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  align-self: center;
  padding: 1rem 3rem 3rem 3rem;
}

.user-info {
  width: 100%;
  padding: 0 1rem 0 0;
  margin: 0 0 1rem 0;
}

.user-surveys {
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-right: 5vw;
}

.user-links {
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 5vw;
}

.logout-btn {
  align-self: flex-end;
  margin: 2rem 0 2rem 2rem;
  outline: none;
  background: white;
  border-radius: 30px;
  border: 2px solid #53c5cd;
  box-shadow: 0px 6px 0px rgba(0, 0, 0, 0.1);
  color: #53c5cd;
  padding: 0.5rem;
  width: 250px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}

.logout-btn:active {
  transform: translate(0, 3px);
  box-shadow: 0px -6px 0px rgba(0, 0, 0, 0.1);
}

.admin-dash-heading {
  width: 100vw;
  max-width: 100%;
  text-align: right;
}

.copy-share {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

@media only screen and (max-width: 900px) {
  .user-info {
    padding: 0 0 0 1rem;
  }
  .admin-dash-heading {
    position: static;
    font-size: 1.75rem;
    text-align: left;
    margin-top: 1rem;
    margin-left: 0;
    max-width: 100%;
  }

  .columns {
    flex-wrap: wrap;
    width: 100vw;
    padding: 0;
  }

  .user-surveys {
    width: 100vw;
    padding: 1rem;
    margin: 0;
  }

  .user-links {
    width: 100vw;
    padding: 1rem;
    margin: 0;
  }

  .logout-btn {
    align-self: center;
    margin: 2rem;
  }

}
