.central-form {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.login-input {
  width: 500px;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: #ffbe55;
  padding: 0.5rem;
  outline: none;
  border: none;
  border-bottom: 2px solid #53c5cd;
}

.login-btn {
  align-self: center;
  margin: 2rem;
  background: #53c5cd;
  border-radius: 30px;
  border: none;
  box-shadow: 0px 6px 0px rgba(0, 0, 0, 0.1);
  color: white;
  padding: 0.5rem;
  width: 250px;
  text-decoration: none;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}

.login-btn:active {
  transform: translate(0, 3px);
  box-shadow: 0px -6px 0px rgba(0, 0, 0, 0.1);
}

a {
  color: #2a94f4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.block {
  display: flex;
  flex-direction: column;
}

.page-container {
  height: auto;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 3rem;
}

.page-container-long-form {
  height: auto;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 3rem;
}

.instruction {
  width: 500px;
  text-align: center;
}

.other-options {
  text-align: center;
}

.error-message {
  width: 500px;
  color: red;
  text-align: center;
}

.bg-img-auth {
  position: fixed;
  left: 20em;
  top: 6em;
  z-index: -1;
  width: 25rem;
  animation: rotation 12s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.asterisk {
  color: red;
}

.form-label {
  margin-bottom: 0;
  max-width: 500px;
}

@media only screen and (max-width: 500px) {
  .page-container {
    width: 100vw;
    margin: 0;
    padding: 3rem 1rem 3rem 1rem;
    overflow: hidden;
  }

  .page-container-long-form {
    width: 100vw;
    margin: 0;
    padding: 3rem 1rem 3rem 1rem;
    overflow:visible;
  }

  .bg-img-auth {
    left: 3rem;
  }

  .instruction,
  .central-form,
  .login-input,
  .error-message,
  .form-label {
    width: 100%;
  }

  .other-options {
    margin-bottom: 3rem;
  }
}
