html {
  overflow: scroll !important;
}

/* TOP 3 SECTIONS */
.section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 2rem 2rem 0;
  height: 100vh;
}
.section-container {
  display: flex;
  flex-direction: column;
  margin: 5rem 5rem 0 5rem;;
}
.section-title {
  margin-top: 6rem;
}
.site-text {
  width: 60vw;
  line-height: 1.8rem;
}
.fig {
  width: 45vw;
}


/* ABOUT SECTION */

#about {
  text-align: left;
}

/* CYBERSAFETY SECTION */

#cybersafety {
  text-align: right;
}

/* CYBERSAFEIRELAND SECTION */

#csi {
  text-align: left;
}

/* CONTACT SECTION */

#contact-us {
  text-align: left;
  background: #eeeeee;
  padding-top: 4rem;
  padding-left: 5rem;
}
.contact-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.contact-details {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  margin-left: 2rem;
  font-size: 0.7rem;
}
.csi-link {
  background-color: #53c5cd;
  border-radius: 30px;
  text-align: center;
  width: 15vw;
  padding: 0.6rem;
  color: white;
  text-decoration: none;
  box-shadow: 0px 6px 0px rgba(0, 0, 0, 0.1);
}
.socials {
  margin-top: 1.5rem;
}
.social {
  margin-right: 0.5rem;
}
.surf {
  width: 35vw;
  margin-right: 5rem;
}

@media only screen and (max-width: 480px) {
  /* TOP 3 SECTIONS */
  .section-container {
    width: 100%;
    margin-left: 0.3rem;
    display: flex;
    flex-direction: column;
    }
  .section-title {
    margin-top: 10rem;
    }
    .site-text {
      margin: 0 0.5rem 0 0.5rem;
    }
  .section {
    height: 100vh;
    text-align: center;
    padding: 0;
    /* display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;
    align-items: center; */
    }
  .fig {
    align-self: flex-start;
    width: 50vw;
    margin: 1rem;
    }

/* CONTACT SECTION */
  #contact-us {
    text-align: left;
    background: #eeeeee;
    padding-top: 2rem;
    padding-left: 0
  }
  .contact-details {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
  }
  .csi-link {
    width: 50vw;
  }
  .socials {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
  }
  .social {
    margin-right: 0.5rem;
    width: 8vw;
  }
  .surf {
    width: 35vw;
    margin-top: 4rem;
    margin-right: 0;
  }
}
