html {
  overflow: scroll !important;
}

/* WHOLE PAGE */

.section-title {
  margin-top: 5.5rem;
}

.site-container {
  display: flex;
  flex-direction: column;
  margin: 5rem 5rem 0 5rem;;

}
.site-text {
  width: 45vw;

}

.fig {
  width: 27vw;

}

.section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 2rem 2rem 0;
  height: 100vh;

}

/* ABOUT SECTION */

#about {
  text-align: left;
}

/* CYBERSAFETY SECTION */

#cybersafety {
  text-align: right;
}

/* CYBERSAFEIRELAND SECTION */

#csi {
  text-align: left;
}


/* CONTACT SECTION */

#contact-us {
  text-align: left;
  background: #eeeeee;
  padding-top: 4rem;
  padding-left: 5rem;
}
.contact-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.contact-details {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  margin-left: 2rem;
  font-size: 0.7rem;
}
.csi-link {
  background-color: #53c5cd;
  border-radius: 30px;
  text-align: center;
  width: 15vw;
  padding: 0.6rem;
  color: white;
  text-decoration: none;
  box-shadow: 0px 6px 0px rgba(0, 0, 0, 0.1);
}
.socials {
  margin-top: 1.5rem;
}
.social {
  margin-right: 0.5rem;
}
.surf {
  width: 35vw;
  margin-right: 5rem;
}

@media only screen and (max-width: 480px) {
  .section-title {
    margin-top: 15rem;
  }
}
