/* MAIN SECTIONS */
.section-container {
  display: flex;
  flex-direction: column;
  margin: 0 10vw 0 10vw;
}
.section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  /* flex-grow: 1; */
}
.section-title {
  font-size: 2.2rem;
  margin-top: 2rem;
  max-width: 50vw;
}
.section-title-hidden {
  display: none;
}
.site-text {
  width: 50vw;
  line-height: 1.8rem;
  text-align: justify;
  font-weight: 400;
}
.cstfs-logo {
  width: 50vw;
  margin-top: 2rem;
}
.fig {
  align-self: flex-end;
  max-width: 25vw;
}
.marks {
  align-self: center;
  width: 80vw;
  margin: 2rem 0 2rem 0;
}
.italics {
  font-style: italic;
}

/* LEFT SIDE*/

#tool, #about  {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
  height: 85vh;
  padding-top: 15vh;
  box-sizing: content-box;
}
/* levels section is slightly different */
#levels  {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  height: 85vh;
  padding-top: 15vh;
  box-sizing: content-box;
}
/* RIGHT SIDE */

#awards, #pricing  {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  text-align: left;
  height: 85vh;
  padding-top: 15vh;
  box-sizing: content-box;
}

/* TABLE */
.table {
  display: table;
  width: 100%;
}

.table-header {
  display: table-header-group;
  font-size: 1.5rem;
}
.header-field {
  display: table-cell;
  padding: 1rem;
  text-align: justify;
}
.subheader-field {
  display: table-cell;
  padding: 1.5rem;
  text-align: justify;
  font-size: 2.2rem;
  border-bottom: solid grey;
  width: 500px;
}

.table-body {
  display: table-row-group;
}
.table-row {
  display: table-row;
}
.body-field {
  display: table-cell;
  font-weight: 400;
  font-size: 0.9rem;
  padding-left: 1rem;
}

.silver {
  color: #9C9C9C;
  font-weight: 700;
}
.gold {
  color: #C09A4F;
  font-weight: 700;
}
.platinum {
color: #658181;
font-weight: 700;
}

/* CONTACT SECTION */

#contact-us {
  text-align: left;
  background: #eeeeee;
  height: 85vh;
  padding: 15vh 4rem 0 4rem;
  box-sizing: content-box;
}

.contact-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contact-details {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  font-size: 0.7rem;
}

.csi-link {
  background-color: #53c5cd;
  border-radius: 30px;
  text-align: center;
  width: 15vw;
  padding: 0.6rem;
  color: white;
  text-decoration: none;
  box-shadow: 0px 6px 0px rgba(0, 0, 0, 0.1);
  margin-top: 0.5rem;
}

.socials {
  margin-top: 1.5rem;
}

.social {
  margin-right: 0.5rem;
}

.surf {
  width: 35vw;
}

@media only screen and (max-width: 1000px) {
  /* MAIN SECTIONS */
  .section-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin: 0;
  }

  .section {
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 0;
  }

  .section-title {
    margin-top: 2rem;
    width: 100%;
    max-width: 100%;
    text-align: left;
    align-self: left;
  }
  .site-text {
    width: 40vw;
    line-height: 1.8rem;
    width: 100%;
    text-align: justify;
  }

  .cstfs-logo {
    width: 100%;
  }

  .fig {
    align-self: center;
    max-width: 80vw;
    margin: 1rem;
  }

  .marks {
   width: 100%;
  }

  #tool,
  #awards,
  #levels,
  #pricing,
  #about {
    height: auto;
    flex-direction: column;
    justify-content: space-between;
  }

/* TABLE */
 .header-field {
  font-size: 1.3rem;
}

.subheader-field {
  padding: 0.5rem;
}

.body-field {
  font-size: 0.8rem;
  padding: 0 0 0 0.6rem;
}
.silver {
  font-size: 1.6rem
}
.gold {
  font-size: 1.6rem
}
.platinum {
font-size: 1.6rem
}


  /* CONTACT SECTION */
  #contact-us {
    text-align: left;
    background: #eeeeee;
    padding: 0;
    height: auto;
    padding: 15vh 1rem 0 1rem;
  }

  .contact-section {
    flex-direction: column;
  }

  .contact-details {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    align-items: flex-start;
  }
  .csi-link {
    width: 250px;
    margin: 1rem 0 1rem 0;
    align-self: center;
  }
  .socials {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: center;
    align-self: center;
  }
  .social {
    margin-right: 0.5rem;
    width: 8vw;
  }

  .surf-container {
    display: flex;
    justify-content: center;
  }

  .surf {
    width: 80vw;
    margin-top: 4rem;
    margin-right: 0;
    align-self: center;
  }
}
