.navbar {
  display: flex;
  justify-content: space-between;
  background-color: white;
  width: 100%;
  top: 0;
  position: fixed;
  padding-top: 1rem;
  font-size: 0.8rem;
  padding-bottom: 1rem;
}
.nav-logo {
  width: 15vw;
  margin-left: 4rem;
  top: 0;
}

.nav-links {
  margin-right: 8rem;
  padding-top: 1.2rem;
}
.nav {
  margin: 0.5rem;
  text-decoration: none;
  color: #181818;
}
.started-nav {
  background-color: #53c5cd;
  border-radius: 30px;
  text-align: center;
  padding: 0.8rem;
  margin-left: 1rem;
  color: white;
  text-decoration: none;
}

@media only screen and (max-width: 480px) {
  .navbar {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    top: 0;
    padding-top: 0;
  }
  .nav-logo {
    width: 50vw;
    margin: 1rem 0 0 1rem;
  }
  .nav-links {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    margin-left: 1rem;
    margin-right: 0;
  }
  .nav {
    padding-bottom: 0.2rem;
  }
  .started-nav {
    text-align: center;
    padding: 0.7rem;
    width: 40%;
    margin-left: 0.2rem;
  }
}
