.email-share {
  background: #29788a !important;
  color: white !important;
  width: 80px;
  font-weight: 600;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 0 0 10px 10px;
  align-self: flex-end;
}

.email-share:active {
transform: translateY(-2px);
box-shadow: 0px 6px 0px rgba(0, 0, 0, 0.1);
}

.copy-btn {
  background: #29788a !important;
  color: white;
  width: 80px;
  font-weight: 600;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0;
  border-radius: 10px 10px 0 0;

}

.copy-btn:active {
  transform: translateY(1px);
  box-shadow: 0px -6px 0px rgba(0, 0, 0, 0.1);
}

.copy-text {
  background-color: #f2f2f2;
  font-size: 15px;
  font-weight: 400;
  padding: 0.5rem;
  margin: 0;
  min-width: 40vw;
}

.copy-message {
  color: #efa642;
  margin: 0.5rem;
  font-size: 15px;
}
