.survey-stats {
  display: flex;
  flex-direction: column;
}

.leaders-box,
.teachers-box,
.pupils-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 32vw;
  margin: 0 0 1rem 0;
}

.final-submit-btn {
  align-self: left;
  margin: 1rem 3rem 1rem 0rem;
  background: #53c5cd;
  border-radius: 30px;
  border: none;
  box-shadow: 0px 6px 0px rgba(0, 0, 0, 0.1);
  color: white;
  padding: 0.5rem;
  width: 250px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}

.quota-box {
  background-color: #f2f2f2;
  border-radius: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  overflow: none;
  min-width: 25vw;
  padding: 0 2rem 0 2rem;
  margin-right: 1rem;
}

.quota-info {
  text-align: right;
}

.quota-box-icon {
  margin: 0;
  height: 4rem;
}

.quota-box-tick {
  margin: 0;
}
.quota-fraction {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 1rem 0 0.5rem 0;
}

.quota-user {
  margin: 0.5rem 0 0.5rem 0;
}

.error-message {
  color: red;
}

@media only screen and (max-width: 900px) {
  .quota-box {
    width: 70vw;
  }

  .leaders-box,
  .teachers-box,
  .pupils-box {
    width: 100%;
    /* justify-content: center; */
  }

  .final-submit-btn {
    align-self: center;
    margin: 1rem 3rem 1rem 3rem;
  }

  .survey-stats {
    width: 100vw;
    align-items: center;
  }
}
