.title {
  margin: 1rem;
}

.explain {
  margin: 1rem;
  width: 800px;
}

.bg-img3 {
  position: absolute;
  right: 5%;
  top: -30%;
  z-index: -1;
  height: 25vw;
  transform: rotate(230deg);
}
.bg-img4 {
  position: absolute;
  left: -4%;
  bottom: -30%;
  z-index: -1;
  height: 40vw;

  transform: rotate(90deg);
}

.file-image {
  height: 12rem;
  position: absolute;
  bottom: 0;
}

.categories {
  display: inline-flex;
  flex-wrap: wrap;
  position: absolute;
  right: 8rem;
}
.col {
  flex: 1;
}
