.page-container {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error-heading {
  margin: 0 0 2rem 0;
}

.unknown {
  height: 30vh;
}
