.buffer-container {
  background-color: white;
  border-color: black;
  border-style: solid;
  border-radius: 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  padding: 2rem;
  z-index: 11;
}
.buffer-content {
  padding: 1rem;
  text-align: justify;
}
@media only screen and (max-width: 768px) {
.buffer-container {
  width: 100vw;
}
.buffer-content {
  text-align: justify;
  padding: 0;
  padding-bottom: 0.5rem;
}
}

/* .buffer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 15vh;
}

.buffer {
  z-index: -2;
  height: 20rem;
  animation: rotation 10s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.buffer-message {
  width: 540px;
  font-size: 1rem;
  animation: shake 5s;
  animation-iteration-count: infinite;
} */
