.catprogress-container {
  display: flex;
  justify-content: flex-end;
  padding: 0;
}

.catprogress-title {
  font-size: 1.5rem;
}

.catprogress-fraction {
  font-size: 1.5rem;
  margin-left: 0.5rem;
}

@media only screen and (max-width: 480px) {
  .catprogress-container {
    display: flex;
    justify-content: left;
    align-items: baseline;
  }
  .catprogress-title {
    font-size: 1.5rem;
    margin: 0;
  }
  .catprogress-fraction {
    margin: 0.5rem;
  }
}

@media only screen and (max-width: 900px){
  .catprogress-container {
    display: flex;
    justify-content: left;
    align-items: baseline;
  }
}
