.catprog-container {
  display: flex;
  justify-content: flex-end;
  text-align: left;
}
.catprog-container {
  white-space: nowrap;
  margin-right: 2rem;
}

.catprog-title {
  font-size: 1.5rem;
}
.catprog-fraction {
  font-size: 1.5rem;
  margin-left: 0.5rem;
}

@media only screen and (max-width: 480px) {
  .catprog-container {
    margin-right: 1rem;
  }
  .catprog-title {
    font-size: 1rem;
  }
  .catprog-fraction {
    font-size: 1rem;
  }
}
