.dashboard-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

.headline {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: flex-start;
  min-height: 25vh;
}

.top-line {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
}

.explain {
  margin: 0 1rem 0 1rem;
  width: 800px;
}

.dash-error {
  color: red;
  margin: 0 1rem 0 1rem;
}

.bg-img3 {
  position: absolute;
  right: 5em;
  top: -11em;
  z-index: -1;
  height: 20rem;
  transform: rotate(230deg);
}

.bg-img4 {
  visibility: hidden;
  position: absolute;
  z-index: -1;
}

.graphic {
  height: 16rem;
  position: absolute;
  bottom: 0;
  margin-left: 4rem;
}

.body-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  z-index: 10;
}

.categories {
  display: flex;
  flex-direction: row;
  margin-left: 5vw;
}

.col {
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.survey-progress {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 6rem;
  margin-top: 2rem;

}

.submit-btn {
  background: #53c5cd;
  border-radius: 30px;
  box-shadow: 0px 6px 0px rgba(0, 0, 0, 0.1);
  color: white;
  padding: 0.5rem;
  width: 200px;
  text-decoration: none;
  font-weight: 600;
  text-align: center;
  border: none;
  cursor: pointer;
  animation: shake 5s;
  animation-iteration-count: infinite;
  animation-delay: 3s;
}

@keyframes shake {
  0% {
    transform: translate(0px, 0px);
  }
  2% {
    transform: translate(0px, -4px);
  }
  4% {
    transform: translate(0px, 0px);
  }
  6% {
    transform: translate(0px, -4px);
  }
  8% {
    transform: translate(0px, 0px);
  }
}

.submit-btn:active {
  transform: translate(0, 3px);
  box-shadow: 0px -6px 0px rgba(0, 0, 0, 0.1);
}

.done-icon-button {
  border: none;
  background: none;
  margin: 0;
  padding: 0;
}

.cat-image {
  height: 6rem;
  margin-top: 1rem;
}
.cat-image:active {
  transform: translate(0, 3px);
}

.categories-completed {
  margin: 0 0 1rem 0;
}

.fraction {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

@media only screen and (max-width: 768px) {
  html,
  body {
    width: 100vw;
  }

  .dashboard-container {
    width: 100vw;
    justify-content: flex-start;
  }

  .top-line {
    flex-direction: column-reverse;
  }

  .body-content {
    width: 100vw;
    padding: 1rem;
    flex-direction: column-reverse;
    align-items: center;
  }

  .categories {
    justify-content: center;
    margin: 0;
  }

  .col {
    margin: 0;
  }

  .title {
    text-align: left;
    font-size: 1.5rem;
  }

  .explain {
    width: 100vw;
    font-size: 1rem;
    margin: 0;
    padding: 0 1rem 0 1rem;
    line-height: 1rem;
  }

  .dash-error {
    width: 100vw;
    font-size: 0.5rem;
    margin: 0.5rem 0 0 0;
    padding: 0 1rem 0 1rem;
    line-height: 0.75rem;
  }

  .timer {
    justify-content: flex-end;
  }

  .survey-progress {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-right: 0;
    margin-top: 1rem;
    width: 100vw;
    padding: 0 1rem 0 1rem;
  }

  .bg-img3 {
    display: none;
  }

  .bg-img4 {
    visibility: visible;
    z-index: -1;
    height: 20rem;
    transform: rotate(90deg);
  }
  .graphic {
    height: 7rem;
  }

  .cat-image {
    margin: 0.25rem;
  }

  .fraction {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100vw;
    padding: 1rem;
  }

  .categories-completed {
    align-self: flex-end;
    margin: 0;
  }

  .fraction-text {
    align-self: flex-end;
    font-size: 1.5rem;
  }

  .submit-btn {
    background: #53c5cd;
    border-radius: 30px;
    box-shadow: 0px 6px 0px rgba(0, 0, 0, 0.1);
    color: white;
    padding: 0.5rem;
    text-decoration: none;
    font-weight: 600;
    text-align: center;
    border: none;
    margin: 0 0 0.5rem 0;
  }
}
