.id-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5rem;
  justify-content: space-between;
}

.bg-img1 {
  position: absolute;
  left: 15em;
  top: 6em;
  z-index: -1;
  width: 20rem;
}

.id-input {
  width: 380px;
  height: 50px;
  margin: 0.5rem;
  font-size: 1.5rem;
  color: #ffbe55;
  text-align: left;
  outline: none;
  border: none;
  border-bottom: 2px solid #53c5cd;
}

.next-btn {
  margin: 3rem;
  background: #53c5cd;
  border-radius: 30px;
  border: none;
  box-shadow: 0px 6px 0px rgba(0, 0, 0, 0.1);
  color: white;
  padding: 0.5rem;
  width: 250px;
  text-decoration: none;
  font-weight: 600;
  text-align: center;
}

@media only screen and (max-width: 480px) {
  .id-container {
    display: flex;
    align-items: center;
  }

  .id-title {
    white-space: nowrap;
  }

  .tagline {
    display: flex;
    align-items: center;
    text-align: center;
    max-width: 380px;
    font-size: 1rem;
  }

  .bg-img1 {
    left: 0.5rem;
    z-index: -1;
    width: 22rem;
  }
  .id-input {
    width: 340px;
  }
  .next-btn {
    margin: 5rem;
    padding: 0.8rem;
  }
}
