.privacy-container {
  background-color: #181818E6;
  color: white;
  border-color: black;
  box-shadow:  0px 0px 20px 5px rgba(0,0,0,0.5);
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 11;
}

.privacy-title {
  padding: 1rem 0 0 2rem;
}

.privacy-content {
  padding: 0 0 0 2rem;
  text-align: justify;
}

.privacy-btn {
  background: #53c5cd;
  border-radius: 30px;
  border: none;
  box-shadow: 0px 0px 8px 5px rgba(43,86,101,0.3);
  color: white;
  padding: 0.5rem 3rem 0.5rem 3rem;
  text-decoration: none;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  margin: 1rem 0 1rem 2rem;
}
