.progress-container {
  position: absolute;
  top: 1em;
  left: 1em;
}

.progress-message {
  margin: 0;
}

.progress {
  height: 10px;
  width: 200px;
  background-color: #f4f3f3;
  border-radius: 20px;
}

.progress-done {
  height: 100%;
  width: 0;
  opacity: 0;
  border-radius: 20px;
  background: linear-gradient(to left, #8dff57, #14c384);
}

@media only screen and (max-width: 480px) {
  .progress-container {
    margin: 0.5rem 0.5rem 2rem 0.5rem;
  }
}
