.progress-message {
  margin: 0;
  font-size: 0.8rem;
  max-width: 200px;
}

.progress {
  height: 10px;
  width: 200px;
  background-color: #E5E5E5;
  border-radius: 20px;
}

.progress-done {
  height: 100%;
  width: 0;
  opacity: 0;
  border-radius: 20px;
  background: linear-gradient(to left, #8dff57, #14c384);
}

@media only screen and (max-width: 480px) {
  .progress {
    height: 14px;
    width: 180px;
  }

  .progress-message {
    max-width: 100%;
  }
}
