.selection-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5rem;
  height: 80vh;
  overflow-x: hidden;
}

.selection-container h1 {
  width: 100vw;
  text-align: center;
}

.bg-img2 {
  position: fixed;
  right: 20em;
  top: 7em;
  z-index: -1;
  height: 18rem;
  animation: rotation 12s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.roles {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}

.leader {
  background: #53c5cd;
  border-radius: 30px;
  border: none;
  box-shadow: 0px 6px 0px rgba(0, 0, 0, 0.1);
  color: white;
  padding: 0.5rem;
  width: 300px;
  text-decoration: none;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}

.teacher {
  background: #29788a;
  border-radius: 30px;
  border: none;
  box-shadow: 0px 6px 0px rgba(0, 0, 0, 0.1);
  color: white;
  padding: 0.5rem;
  width: 300px;
  text-decoration: none;
  font-weight: 600;
  text-align: center;
  margin: 1.5rem;
  cursor: pointer;
}

.pupil {
  background: #e87927;
  border: none;
  border-radius: 30px;
  box-shadow: 0px 6px 0px rgba(0, 0, 0, 0.1);
  color: white;
  padding: 0.5rem;
  width: 300px;
  text-decoration: none;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}

.leader:active, .teacher:active, .pupil:active {
  transform: translate(0, 3px);
  box-shadow: 0px -6px 0px rgba(0, 0, 0, 0.1);
}

.role-pills {
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 1rem;
}

@media only screen and (max-width: 480px) {
  .selection-container {
    width: 100vw;
    padding: 3rem 1rem 3rem 1rem;
  }

  .bg-img2 {
    left: 1rem;
    z-index: -1;
    height: 22rem;
  }

  .roles {
    width: 100vw;
  }

  .leader {
    padding: 1rem;
  }
  
  .teacher {
    padding: 1rem;
  }

  .pupil {
    padding: 1rem;
  }

  .tagline {
    width: 100%;
    text-align: center;
  }
}
