.intropage-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  width: 100vw;
}

.introtext-box,
.introtext-box-horiz-flipped {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  margin: -1em;
}

.pills {
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 1rem;
}

.button-and-pills {
  width: 100vw;
  background-color: transparent;
  bottom: 0;
  left: 0;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.bg1 {
  position: fixed;
  left: 2em;
  top: -12em;
  z-index: -1;
  height: 18rem;
  transform: rotate(230deg);
}

.bg2 {
  position: fixed;
  right: 0;
  z-index: -1;
  height: 20rem;
  opacity: 80%;
}

.bg3 {
  position: fixed;
  left: 0;
  top: 20em;
  z-index: -1;
  height: 15rem;
  opacity: 80%;
  transform: rotate(180deg);
}

.figure {
  width: 8rem;
}

.para-1 {
  display: flex;
  align-items: center;
  padding: 1rem;
  max-width: 50vw;
}

.para-2 {
  display: flex;
  align-items: center;
  padding: 1rem;
  max-width: 50vw;
}

.para-3 {
  display: flex;
  align-items: center;
  padding: 1rem;
  max-width: 50vw;
}

.start-btn {
  margin: 0.3rem;
  background: #53c5cd;
  border-radius: 30px;
  border: none;
  box-shadow: 0px 6px 0px rgba(0, 0, 0, 0.1);
  color: white;
  padding: 0.5rem;
  width: 250px;
  text-decoration: none;
  font-weight: 600;
  text-align: center;
}

.start-btn:active {
  transform: translate(0, 3px);
  box-shadow: 0px -6px 0px rgba(0, 0, 0, 0.1);
}

.start-btn:hover {
  text-decoration: none;
}

.welcome {
  margin-top: 2rem;
}

@media only screen and (max-width: 700px) {
  .intropage-container {
    display: flex;
    padding: 1rem 1rem 0 1rem;
    height: auto;
    overflow-x: hidden;
  }

  .pills {
    position: static;
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: center;
    /* margin: 1rem; */
  }

  .introtext-box {
    display: flex;
    text-align: left;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  .introtext-box-horiz-flipped {
    display: flex;
    text-align: left;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  .bg1 {
    position: fixed;
    left: -5em;
    top: 8em;
    z-index: -1;
    height: 15rem;
    opacity: 70%;
    transform: rotate(230deg);
  }

  .bg2 {
    display: none;
  }

  .bg3 {
    display: none;
  }

  .para-1,
  .para-2,
  .para-3 {
    padding: 0;
    max-width: 100%;
    margin: 2rem 0 2rem 0;
  }

  .figure {
    width: 70vw;
    margin: 1rem 0 1rem 0;
  }

  .start-btn {
    margin: 1rem;
    padding: 0.8rem;
  }
}
