.thanku-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}

.thanku-title {
  margin: 0.5rem;
  text-align: center;
}
.thanku-message {
  margin-top: 3rem;
}
.bg-img6 {
  position: absolute;
  right: 23em;
  top: 8.5em;
  z-index: -1;
  width: 22rem;
}

.bg-img9 {
  position: absolute;
  right: 14em;
  width: 40rem;
  z-index: -1;
}

.close-btn {
  background: #53c5cd;
  border-radius: 30px;
  border: none;
  box-shadow: 0px 6px 0px rgba(0, 0, 0, 0.1);
  color: white;
  padding: 0.5rem;
  width: 250px;
  text-decoration: none;
  font-weight: 600;
  text-align: center;
}

@media only screen and (max-width: 480px) {
  .bg-img6 {
    left: 2.5rem;
    z-index: -1;
    width: 20rem;
  }
  .thanku-message {
    margin-top: 3rem;
  }
}
