.thanku-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  width: 100vw;
  overflow: hidden;
}

.thanku-title {
  margin: 0 0 3rem 0;
  text-align: center;
}
.thanku-message {
    margin-top: 1rem;
}
.bg-img6 {
  position: absolute;
  justify-content: center;
  top: 10rem;
  height: 18rem;
  z-index: -1;
}

.bg-img9 {
  position: absolute;
  justify-content: center;
  height: 20rem;
  z-index: -1;
}

.design {
  height: 20rem;
}

.csi-btn {
  background: #53c5cd;
  border-radius: 30px;
  border: none;
  box-shadow: 0px 6px 0px rgba(0, 0, 0, 0.1);
  color: white;
  padding: 0.5rem;
  width: 350px;
  text-decoration: none;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}



@media only screen and (max-width: 768px) {
  .bg-img6 {
    justify-content: center;
    z-index: -1;
    width: 20rem;
  }
  .thanku-message {
    margin-top: 2rem;
    text-align: center;
  }

  .design {
    width: 100%;
  }

  .csi-btn {
    width: 300px;
  }
}
