.timer {
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: right;
  position: relative;
  margin-left: 1rem
}
.time-icon {
  margin-right: 0.9rem;
}

.timer-msg {
  font-size: 0.65rem;
  color: #E87927;
}

.btn {
  position: fixed;
  bottom: 10em;
  background: #53c5cd;
  border-radius: 30px;
  box-shadow: 0px 6px 0px rgba(0, 0, 0, 0.1);
  color: white;
  padding: 0.5rem;
  width: 250px;
  text-decoration: none;
  font-weight: 600;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .timer-container {
    margin: 0;

  }
  .timer {
    font-size: 1.5rem;
  }
  .time-icon {
    margin-right: 0.2rem;
  }
  .timer-msg {
    display: none;
  }
}
